html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: url(https://github.com/Moutard3/mcjukebox-templates/raw/master/background_image.png);
    background-position: center;
}

body:before {
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(62,62,62,0.7);
    z-index: -1;
}

.header {
    display: none;
}

.branding {
    position: absolute;
    bottom: 0;
    right: 0;
}

.branding > span:first-of-type {
    display: none;
}

#ping-meter {
    color: white;
}

.box {
    background: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.box:not(.controls) {
    position: absolute;
    bottom:0;
    left:0;
    padding: 10px;
    width: auto;
}

#skull {
    display: inline-block;
    width: 37px;
    height: 37px;
    border: none;
    margin: 0;
    vertical-align: top;
}

#username {
    display: inline-block;
    padding: 10px;
}

.box.controls {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box.controls:before {
    position: absolute;
    top: 0;
    left: auto;
    content: '';
    /* ===========================================================\ */
    background: url(https://www.mcjukebox.net/images/logo.png); /* | McJukebox logo is the property of McJukebox (http://mcjukebox.net) */
    /* ===========================================================/ */
    background-size: cover;
    width: 650px; /* Logo Width */
    height: 280px; /* Logo Height */
}